body {
	    background-image: url('./images/vangogh.jpg');
		text-align: center;
	}
.whitebox {
	background-color: white;
	margin: auto;
	width: 1200px;
	padding: 10px;
}
.profile_image{
	border-radius:50%;
	height:300px;
	width:300px;
}
.text_type {
	font-family:Andale Mono, monospace;
	font-weight:bold
}

#slider {
	overflow: hidden;
}

.slide {
  	float: center;
}