body {
			background-image: url('vangogh.jpg');
			text-align: center;
		}
        .whitebox {
            background-color: white;
            position: absolute;
            top: 50%;
			left: 3%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
			padding: 10px;
        }
